.section{

  font-size:50px;
}

.banner{
  border-style: dashed;
  border-width: 2px;
  font-size:70px;
/*  background-color: rgb(192,18,11);*/
  background-image: url("/images/snow-background.jpg");
  height:180px;
  font-family: 'Pacifico', cursive;
  color: rgb(0,0,0);
  text-align:center;
}

.bannermaster{
  font-size:50px;
}
.subbanner{
  font-size:30px;
  border-bottom:50px;

}

.subsubbanner{
    background-color:rgb(79,131,189);
    color: rgb(255,255,255);
    text-align:center;
    border-style:solid;
    border-width: 2px;
    border-color: rgb(0,0,0);
}

.Maincontent{
  font-family: 'helvetica';
  font-weight: bold;
  text-align:center;
}

.containerpword{
font-family: "Comic Sans MS";
margin:auto;
width:100%;
text-align:center;
font-size:16px;
}

/*images*/
.olaf{
  height:100px;
}

.button{
height:50px;
}

.arrow{
  height:80px;
}

.arrow2{
  height:110px;
}

.hatguy{
  width:20px;
}

.comic{
max-width: 100%;
position: fixed;
margin-left:8em;
margin-right:8em;
}

.polo{
height: 100px;
width: 100px;
align-items:flex-end;
}
